.button-overlay {
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;

    background-color: transparent;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);

    font-weight: 800;
    font-size: 14px;
    line-height: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}
.button-overlay:hover{
    background-color: #000;
}